@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  @apply bg-gray-100;
}

dialog {
  width: 100%;
  max-width: 24rem;
  border-radius: 0.2em;
  border: none;
  padding: 0;
  background-color: transparent;
}
dialog::backdrop {
  @apply bg-gray-500/75 transition-opacity;
}

dialog[open] {
  animation: modalEnter 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
@keyframes modalEnter {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

dialog[open]::backdrop {
  animation: backdropEnter 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
@keyframes backdropEnter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.trigger {
  @apply relative min-w-0 flex-1 overflow-hidden bg-white py-4 px-4 text-center text-sm font-medium hover:bg-gray-50 focus:z-10 select-none text-gray-500 hover:text-gray-700 first:rounded-l-lg last:rounded-r-lg;
}
.trigger[data-state="active"] {
  @apply text-gray-900 hover:text-gray-900;
}

.trigger .trigger-indicator {
  @apply bg-transparent absolute inset-x-0 bottom-0 h-0.5;
}
.trigger[data-state="active"] .trigger-indicator {
  @apply bg-indigo-500;
}
